/* Estilos para o header */

body {
    font-family: 'Montserrat', sans-serif;
     color: #000000;
}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.logo img {
	width: 150px;
}
.search-bar {
	display: flex;
	align-items: center;
	background-color: #F7F7F7;
	padding: 5px;
	border-radius: 5px;
	flex-grow: 1;
	margin: 0 20px;
}
.search-bar input {
	border: none;
	flex-grow: 1;
	padding: 10px 10px; /* Alterado o valor do padding */
	background-color: transparent;
}

.search-bar button {
	border: none;
	background-color: transparent;
	padding: 5px;
}
.search-bar button:hover {
    cursor: pointer;
    color: #1E90FF;
    transition: all 0.3s ease-in-out;
}
.search-bar input:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.icons a {
	margin-left: 20px;
	font-size: 20px;
	color: #333333;
}
.icons a:hover {
	cursor: pointer;
	color: #1E90FF;
}

/* Estilos para a sidebar */
.container {
	display: flex;
	margin-top: 20px;
}
.sidebar {
	flex-basis: 25%;
	background-color: #F7F7F7;
	padding: 20px;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
}
.profile-picture img {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.profile-info {
	text-align: center;
	margin-top: 20px;
}
.profile-info h2 {
	margin-bottom: 10px;
	font-size: 24px;
}
.profile-info p {
	margin-bottom: 10px;
	font-size: 18px;
}
.ra-box {
	background-color: #EEEEEE;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.ra-box p {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.sidebar-links {
	margin-top: 20px;
	list-style: none;
	padding: 0;
}
.sidebar-links li {
	margin-bottom: 10px;
}
.sidebar-links li a {
	color: #333333;
	text-decoration: none;
	font-size: 18px;
}
.sidebar-links li a:hover {
	color: #1E90FF;
}

/* Estilos para o conteúdo principal */
.main-content {
	max-width: 800px;
	margin: 0 auto;
}

.main-content h2 {
	font-size: 28px;
	margin-bottom: 20px;
}

.form {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border: 1px solid #ccc;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	align-items: center;
}

label {
	font-weight: bold;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 5px;
  text-align: left;
}

input {
	flex: 1;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	padding: 5px;
	background-color: transparent;
  }

input.disabled {
	color: #555;
}

button.botao-alterar {
	background-color: #e23906;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 18px;
	margin-top: 30px;
	cursor: pointer;
  }

button.botao-alterar:hover {
	background-color: #d87606;
}

